#principal{
	width: 900px;
	height: auto; overflow:  hidden;
	border: 0px solid #000;
	margin: auto;
}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px solid #000;
	height: 200px solid #000;
	border: 0px solid #000;
	float: left;
}

.titulo{

	font-size: 60px;
	margin-top: 10px;

}

.sub-titulo{

	font-size: 14px;
	margin-top: -60px;

	
}


.menu{
	width: 480px;
	height: 50px;
	border: 0px solid #ccc;
	float: right;
	margin-top: 40px;
	background: #0000ff;
}

menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #ccc;
   color:#fff;
 }

  .menu ul li a:hover {
	background: #000;
	color: #fff;
	transition: background 1s, color 1s;
}

#slide{
	margin-top: -5px;
	width: 900px;
	height: 250px;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
margin-top: 15px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden; 
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #0000ff;
}
.parrafo{
color: #000;
text-align: justify;
}



.dos{
      margin-left: 12px;
      margin-right: 12px;

}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin: 10px;
	}

.leer-mas:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}


#info {
	width: 900px;
	height: auto;overflow: hidden;
	border: 0px solid #000;
	margin-top: 10px;

}

#izq{
	width: 590px;
	height: auto; overflow: hidden;
	border: 1px solid #cccc;
	float: left;
	padding: 5px; color: #0000ff ;
}

}

#dere{
	width: 290px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;	
	float: right;
	padding: 5px; 
	color: #0000ff ;
	}


	}
footer{
	width: 900px;
	height: 100px;
	text-align: center;
	}

	#footer p{
	width: 500px;

	}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
	}


